h3 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-card {
  width: 20%;
  padding: 10px;
}

.post-card p {
  text-align: justify;
  font-style: italic;
}
