img {
  width: 200px;
}

.simpson-card,
.product-card {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.product-title {
  font-size: 30px;
  color: cornflowerblue;
}

.product-image {
  width: 300px;
}
